/*
    font face
 */
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff");
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff");
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff");
}

/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #555;
  background: #fff;
}

@media (max-width: 576px) {
  body {
    font-size: 18px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1365px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2, h6 {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

h1, h2 {
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 48px;
  }
}

@media (max-width: 576px) {
  h1, h2 {
    font-size: 36px;
  }
}

h3 {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 36px;
  color: #190f46;
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
  color: #c73e55;
  text-transform: uppercase;
}

span {
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  span {
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  span {
    font-size: 20px;
  }
}

span.sale {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 96px;
  color: #fff500;
  text-align: center;
  display: block;
}

@media (max-width: 767px) {
  span.sale {
    font-size: 75px;
  }
}

@media (max-width: 576px) {
  span.sale {
    font-size: 55px;
  }
}

@media (max-width: 576px) {
  p {
    line-height: 20px;
  }
}

p.small {
  font-size: 18px;
}

.to-order {
  color: #fff;
  text-align: center;
  max-width: 350px;
}

.to-order a {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 25px 0 15px;
  border: 3px solid #fff;
  background: transparent;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

.to-order a:hover {
  background: #fff;
  color: #c73e55;
}

.to-order h6 {
  text-transform: uppercase;
  margin-top: 14px;
}

@media (max-width: 576px) {
  .to-order h6 {
    font-size: 15px;
  }
}

a.order, .form-group.order button {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding: 21px 0 14px;
  background: #fa4748;
  border-radius: 5px;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

a.order:hover, .form-group.order button:hover {
  background: #190f46;
}

.gallery, .photo {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e227c), to(#fb4747));
  background: -o-linear-gradient(top, #2e227c 0%, #fb4747 100%);
  background: linear-gradient(180deg, #2e227c 0%, #fb4747 100%);
  padding: 26px 0;
}

@media (max-width: 979px) {
  .gallery, .photo {
    padding: 20px 0;
  }
}

.gallery__content, .photo__content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

@media (max-width: 767px) {
  .gallery__content, .photo__content {
    display: block;
  }
}

.gallery__content a, .photo__content a, .catalog__block-img a {
  position: relative;
}

.gallery__content a img, .photo__content a img, .catalog__block-img a img {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1899px) {
  .gallery__content a img, .photo__content a img, .catalog__block-img a img {
    width: 100%;
  }
}

.gallery__content a:after, .photo__content a:after, .catalog__block-img a:after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: url("../img/zoom.png") no-repeat center/cover;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.85s ease-in-out;
  -o-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out;
}

.gallery__content a:hover img, .photo__content a:hover img, .catalog__block-img a:hover img {
  opacity: .3;
}

@media (max-width: 979px) {
  .gallery__content a:hover img, .photo__content a:hover img, .catalog__block-img a:hover img {
    opacity: 1;
  }
}

.gallery__content a:hover:after, .photo__content a:hover:after, .catalog__block-img a:hover:after {
  opacity: 1;
}

@media (max-width: 979px) {
  .gallery__content a:hover:after, .photo__content a:hover:after, .catalog__block-img a:hover:after {
    display: none;
  }
}

.fade {
  opacity: 0;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

.fade.animated {
  opacity: 1;
}

.body-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -5;
}

/*
    header style
 */
.header {
  padding-bottom: 118px;
  position: relative;
}

@media (max-width: 979px) {
  .header {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .header__logo {
    width: 41%;
    min-width: 120px;
    max-width: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .header__logo img {
    width: 100%;
  }
}

.header__content {
  padding-top: 91px;
  position: relative;
}

@media (max-width: 979px) {
  .header__content {
    padding-top: 37px;
  }
}

.header__content > h6 {
  color: #fff500;
  text-align: center;
  text-transform: uppercase;
  margin: -7px auto 36px;
}

@media (max-width: 979px) {
  .header__content > h6 {
    margin-bottom: 31px;
  }
}

.header__content span {
  display: block;
  text-align: center;
}

.header__content h1 {
  text-align: center;
  max-width: 700px;
  margin: 15px auto 62px;
}

@media (max-width: 979px) {
  .header__content h1 {
    margin-bottom: 29px;
  }
}

.header__content .to-order {
  margin: 0 auto;
}

.header__content .to-order h6 {
  color: #fff;
}

.header__content-img {
  position: absolute;
  bottom: -118px;
  z-index: -1;
}

@media (max-width: 979px) {
  .header__content-img {
    bottom: 0;
  }
}

.header__content-img img {
  width: 100%;
  margin: 0;
}

.header__content-img.left {
  left: -99px;
}

@media (max-width: 979px) {
  .header__content-img.left {
    width: 449px;
    position: relative;
    left: -28px;
  }
}

@media (max-width: 767px) {
  .header__content-img.left {
    width: 75%;
    max-width: 410px;
    z-index: 11;
  }
}

.header__content-img.right {
  right: -17px;
}

@media (max-width: 767px) {
  .header__content-img.right {
    width: 54%;
    max-width: 295px;
  }
}

.header a.bucket {
  width: 100px;
  height: 100px;
  background: #00b2ff;
  -webkit-box-shadow: 0 0 10px rgba(102, 17, 22, 0.5);
          box-shadow: 0 0 10px rgba(102, 17, 22, 0.5);
  border-radius: 50%;
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

@media (max-width: 767px) {
  .header a.bucket {
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 10px;
  }
}

.header a.bucket:after {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background: url("../img/bucket.png") no-repeat center/cover;
  position: absolute;
  top: 27px;
  left: 18px;
}

@media (max-width: 767px) {
  .header a.bucket:after {
    width: 38px;
    height: 38px;
    top: 18px;
    left: 12px;
  }
}

.header:before {
  content: "";
  display: block;
  width: 100%;
  height: calc(100% - 84px);
  background: url("../img/header/bg.jpg") no-repeat center/cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

@media (max-width: 576px) {
  .header:before {
    height: calc(100% - 7%);
  }
}

/*
    advantages style
 */
.advantages {
  padding: 121px 0 63px;
}

@media (max-width: 1199px) {
  .advantages {
    padding-top: 41px;
  }
}

@media (max-width: 979px) {
  .advantages {
    padding-bottom: 31px;
  }
}

.advantages__content {
  position: relative;
}

.advantages__content-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 41%;
  position: relative;
}

@media (max-width: 1365px) {
  .advantages__content-top {
    padding-left: 45%;
  }
}

@media (max-width: 1199px) {
  .advantages__content-top {
    padding-left: 42%;
  }
}

@media (max-width: 979px) {
  .advantages__content-top {
    padding-left: 0;
  }
}

.advantages__content-top p {
  margin: 33px auto 30px;
}

.advantages__content-top ul {
  margin-left: 87px;
}

@media (max-width: 1199px) {
  .advantages__content-top ul {
    margin-left: 35px;
  }
}

@media (max-width: 576px) {
  .advantages__content-top ul {
    margin-left: 10px;
  }
}

.advantages__content-top ul li {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
  position: relative;
}

.advantages__content-top ul li p {
  margin: 0 auto;
}

.advantages__content-top ul li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #c73e55;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0;
}

.advantages__content-top ul li:last-child {
  margin-bottom: 0;
}

.advantages__content-top figure {
  position: relative;
  position: absolute;
  top: -67px;
  left: -36px;
}

@media (max-width: 1365px) {
  .advantages__content-top figure {
    left: 0;
  }
}

@media (max-width: 1199px) {
  .advantages__content-top figure {
    width: 380px;
    top: 0;
  }
}

@media (max-width: 979px) {
  .advantages__content-top figure {
    position: relative;
    margin: 35px 0 0 auto;
  }
}

@media (max-width: 767px) {
  .advantages__content-top figure {
    width: 65%;
    min-width: 219px;
  }
}

@media (max-width: 576px) {
  .advantages__content-top figure {
    width: 75%;
  }
}

.advantages__content-top figure img {
  width: 100%;
  position: relative;
}

.advantages__content-top figure:before, .advantages__content-top figure:after {
  content: "";
  display: block;
  position: absolute;
}

.advantages__content-top figure:before {
  width: 403px;
  height: 420px;
  background: url("../img/advantages/vector.png") no-repeat center/cover;
  top: 122px;
  left: -197px;
}

@media (max-width: 767px) {
  .advantages__content-top figure:before {
    width: 175px;
    height: 183px;
    top: 20%;
    left: -39%;
  }
}

.advantages__content-top figure:after {
  width: 147px;
  height: 119px;
  background: url("../img/advantages/decor/2.png") no-repeat center/cover;
  top: 219px;
  left: calc(100% + 659px);
}

@media (max-width: 1199px) {
  .advantages__content-top figure:after {
    width: 72px;
    height: 58px;
    left: calc(100% + 497px);
  }
}

@media (max-width: 979px) {
  .advantages__content-top figure:after {
    top: -10px;
    left: -74px;
  }
}

.advantages__content-video {
  max-width: 564px;
  margin: 66px auto 259px;
  position: relative;
  padding-bottom: 25.3%;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(102, 17, 22, 0.5));
          filter: drop-shadow(0px 0px 10px rgba(102, 17, 22, 0.5));
  cursor: pointer;
  z-index: 11;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .advantages__content-video {
    -webkit-box-shadow: 0 0 10px rgba(102, 17, 22, 0.5);
            box-shadow: 0 0 10px rgba(102, 17, 22, 0.5);
  }
}

@media (max-width: 1199px) {
  .advantages__content-video {
    padding-bottom: 31%;
  }
}

@media (max-width: 979px) {
  .advantages__content-video {
    margin: -8% auto -5%;
    padding-bottom: 42%;
  }
}

@media (max-width: 767px) {
  .advantages__content-video {
    max-width: 540px;
    height: 290px;
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .advantages__content-video {
    height: auto;
    padding-bottom: 54%;
  }
}

.advantages__content-video .video-play {
  width: 61px;
  height: 60px;
  background: url("../img/advantages/video-play.png") no-repeat center/cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(102, 17, 22, 0.5);
          box-shadow: 0 0 10px rgba(102, 17, 22, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
  pointer-events: none;
}

@media (max-width: 576px) {
  .advantages__content-video .video-play {
    width: 40px;
    height: 39px;
  }
}

.advantages__content-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 31px;
  position: relative;
}

@media (max-width: 1199px) {
  .advantages__content-bottom {
    padding-left: 0;
  }
}

.advantages__content-bottom figure {
  position: relative;
  position: absolute;
  bottom: -42px;
  right: -39px;
}

@media (max-width: 1365px) {
  .advantages__content-bottom figure {
    right: 0;
  }
}

@media (max-width: 1199px) {
  .advantages__content-bottom figure {
    width: 380px;
  }
}

@media (max-width: 979px) {
  .advantages__content-bottom figure {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (max-width: 767px) {
  .advantages__content-bottom figure {
    width: 64%;
  }
}

@media (max-width: 576px) {
  .advantages__content-bottom figure {
    width: 72%;
    min-width: 210px;
  }
}

.advantages__content-bottom figure img {
  width: 100%;
}

.advantages__content-bottom figure:before, .advantages__content-bottom figure:after {
  content: "";
  display: block;
  position: absolute;
}

.advantages__content-bottom figure:before {
  width: 403px;
  height: 420px;
  background: url("../img/advantages/vector.png") no-repeat center/cover;
  top: -92px;
  right: -201px;
  z-index: -1;
}

@media (max-width: 767px) {
  .advantages__content-bottom figure:before {
    width: 158px;
    height: 165px;
    top: 15%;
    right: -41%;
  }
}

.advantages__content-bottom figure:after {
  width: 141px;
  height: 140px;
  background: url("../img/advantages/vector-s.png") no-repeat center/cover;
  top: 314px;
  left: -79px;
}

@media (max-width: 1199px) {
  .advantages__content-bottom figure:after {
    top: 414px;
  }
}

@media (max-width: 767px) {
  .advantages__content-bottom figure:after {
    width: 98px;
    height: 97px;
    top: calc(100% - 67px);
    left: calc(100% - 47px);
  }
}

.advantages__content-bottom h3 {
  max-width: 600px;
  position: relative;
}

@media (max-width: 979px) {
  .advantages__content-bottom h3 {
    margin: 97px 0 13px;
  }
}

.advantages__content-bottom h3:before {
  content: "";
  display: block;
  width: 64px;
  height: 88px;
  background: url("../img/advantages/decor/3.png") no-repeat center/cover;
  position: absolute;
  top: -137px;
  left: 430px;
}

@media (max-width: 1199px) {
  .advantages__content-bottom h3:before {
    width: 50px;
    height: 69px;
  }
}

@media (max-width: 767px) {
  .advantages__content-bottom h3:before {
    top: -110px;
    left: 0;
  }
}

.advantages__content-bottom a.order {
  margin: 49px 0 0 150px;
}

@media (max-width: 979px) {
  .advantages__content-bottom a.order {
    margin: 0 auto;
  }
}

.advantages__content:before, .advantages__content:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.advantages__content:before {
  width: 125px;
  height: 113px;
  background: url("../img/advantages/decor/1.png") no-repeat center/cover;
  top: -166px;
  right: 100%;
}

@media (max-width: 1199px) {
  .advantages__content:before {
    width: 81px;
    height: 74px;
    top: -74px;
    right: 0;
  }
}

@media (max-width: 576px) {
  .advantages__content:before {
    top: -54px;
  }
}

.advantages__content:after {
  width: 804px;
  height: 600px;
  background: url("../img/advantages/bg.png") no-repeat center/cover;
  bottom: 128px;
  left: -360px;
  z-index: -3;
}

@media (max-width: 979px) {
  .advantages__content:after {
    bottom: 186px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .advantages__content:after {
    width: 111%;
    height: 20%;
    bottom: 150px;
  }
}

@media (max-width: 576px) {
  .advantages__content:after {
    height: 12.2%;
  }
}

/*
    gallery style
 */
.gallery__content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 61%;
  max-width: 1165px;
}

@media (max-width: 767px) {
  .gallery__content-left {
    width: 100%;
  }
}

.gallery__content-left figure:nth-child(1) {
  width: 57%;
  max-width: 657px;
}

@media (max-width: 1899px) {
  .gallery__content-left figure:nth-child(1) {
    width: 56%;
  }
}

.gallery__content-left figure:nth-child(1) a:nth-child(2) {
  margin: 13px 0;
}

@media (max-width: 1899px) {
  .gallery__content-left figure:nth-child(1) a:nth-child(2) {
    margin: 10px 0;
  }
}

@media (max-width: 1365px) {
  .gallery__content-left figure:nth-child(1) a:nth-child(2) {
    margin: 7px 0;
  }
}

.gallery__content-left figure:nth-child(2) {
  width: 43%;
  max-width: 497px;
}

@media (max-width: 1899px) {
  .gallery__content-left figure:nth-child(2) {
    width: 42%;
  }
}

.gallery__content-left figure:nth-child(2) a:nth-child(1) {
  margin-bottom: 11px;
}

@media (max-width: 1899px) {
  .gallery__content-left figure:nth-child(2) a:nth-child(1) {
    margin-bottom: 16px;
  }
}

@media (max-width: 1365px) {
  .gallery__content-left figure:nth-child(2) a:nth-child(1) {
    margin-bottom: 12px;
  }
}

.gallery__content-right {
  width: calc(39% - 11px);
  max-width: 744px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .gallery__content-right {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }
}

.gallery__content-right a:first-child, .gallery__content-right a:last-child {
  width: 100%;
}

.gallery__content-right a:nth-child(2) {
  width: 52%;
  max-width: 384px;
}

.gallery__content-right a:nth-child(3) {
  width: 47%;
  max-width: 349px;
}

.gallery__content-right a:nth-child(2), .gallery__content-right a:nth-child(3) {
  margin: 10px 0;
}

@media (max-width: 1199px) {
  .gallery__content-right a:nth-child(2), .gallery__content-right a:nth-child(3) {
    margin: 11.5px 0;
  }
}

.gallery__content:before {
  content: "";
  display: block;
  width: 122px;
  height: 103px;
  background: url("../img/gallery/1.png") no-repeat center/cover;
  position: absolute;
  top: -77px;
  left: 10%;
  z-index: 11;
  pointer-events: none;
}

@media (max-width: 1199px) {
  .gallery__content:before {
    width: 62px;
    height: 62px;
    top: -38px;
  }
}

/*
    catalog style
 */
.catalog {
  padding: 107px 0 67px;
}

@media (max-width: 979px) {
  .catalog {
    padding: 44px 0 45px;
  }
}

.catalog__block {
  position: relative;
}

@media (max-width: 979px) {
  .catalog__block h3 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .catalog__block h3 {
    text-align: left;
  }
}

.catalog__block > ul {
  margin: 20px 0 30px;
}

@media (max-width: 979px) {
  .catalog__block > ul {
    max-width: 430px;
    margin: 10px auto 22px;
  }
}

@media (max-width: 576px) {
  .catalog__block > ul {
    margin: 10px 0 22px;
  }
}

.catalog__block > ul li p {
  font-size: 18px;
  line-height: 30px;
}

.catalog__block > ul li p span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  display: inline-block;
  width: 230px;
}

@media (max-width: 576px) {
  .catalog__block > ul li p span {
    width: auto;
    margin-right: 5px;
  }
}

@media (max-width: 979px) {
  .catalog__block .price {
    text-align: center;
  }
}

.catalog__block .price span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.catalog__block .price span.old-price {
  font-size: 24px;
  color: #aaa;
  display: inline-block;
  position: relative;
}

.catalog__block .price span.old-price:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #aaa;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.catalog__block .price span.new-price {
  font-size: 48px;
  color: #c73e55;
}

.catalog__block-img {
  max-width: 590px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1199px) {
  .catalog__block-img {
    max-width: 500px;
  }
}

@media (max-width: 979px) {
  .catalog__block-img {
    position: relative;
    top: 0;
    left: 0;
    margin: 42px auto 26px;
  }
}

.catalog__block-img > a {
  width: 68%;
  max-width: 399px;
}

@media (max-width: 1199px) {
  .catalog__block-img > a {
    width: 67%;
  }
}

.catalog__block-img > a img {
  width: 100%;
}

.catalog__block-img figure {
  width: 32%;
  max-width: 187px;
}

@media (max-width: 1199px) {
  .catalog__block-img figure {
    width: 31%;
  }
}

.catalog__block-img figure a:nth-child(1) {
  margin-bottom: 4px;
}

@media (max-width: 1199px) {
  .catalog__block-img figure a:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .catalog__block-img figure a:nth-child(1) {
    margin-bottom: 6px;
  }
}

.catalog__block-img h6 {
  color: #c73e55;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 43px;
}

@media (max-width: 576px) {
  .catalog__block-img h6 {
    margin-top: 30px;
  }
}

.catalog__block-img:before {
  content: "";
  display: block;
  width: 630px;
  height: 606px;
  background: url("../img/catalog/vector.png") no-repeat center/cover;
  position: absolute;
  top: -40px;
  left: -20px;
}

@media (max-width: 1199px) {
  .catalog__block-img:before {
    width: 533px;
    height: 512px;
  }
}

@media (max-width: 576px) {
  .catalog__block-img:before {
    width: 308px;
    height: 296px;
    top: -20px;
    left: -10px;
  }
}

.catalog__block > figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 34px 0 20px;
}

@media (max-width: 979px) {
  .catalog__block > figure {
    max-width: 558px;
    margin: 0 auto 20px;
  }
}

@media (max-width: 576px) {
  .catalog__block > figure {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 380px;
    margin-bottom: 10px;
  }
}

.catalog__block > figure .select-box {
  width: 270px;
}

@media (max-width: 1365px) {
  .catalog__block > figure .select-box {
    width: 240px;
  }
}

@media (max-width: 979px) {
  .catalog__block > figure .select-box {
    width: 270px;
  }
}

@media (max-width: 576px) {
  .catalog__block > figure .select-box {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.catalog__block > figure .select-box .jq-selectbox {
  width: 100%;
}

.catalog__block > figure .select-box .jq-selectbox__select {
  font-size: 16px;
  color: #555;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 23px 15px 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  position: relative;
}

.catalog__block > figure .select-box .jq-selectbox__select-text {
  width: 100% !important;
}

.catalog__block > figure .select-box .jq-selectbox__select:after {
  content: "";
  display: block;
  width: 16px;
  height: 9px;
  background: url("../img/arrow.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.catalog__block > figure .select-box .jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #555;
  top: 57px !important;
}

.catalog__block > figure .select-box .jq-selectbox__dropdown ul li {
  color: inherit;
}

.catalog__block > figure .select-box .jq-selectbox__trigger {
  display: none;
}

.catalog__block > figure .select-box .jq-selectbox.opened .jq-selectbox__select:after {
  -webkit-transform: translateY(-50%) scale(1, -1);
      -ms-transform: translateY(-50%) scale(1, -1);
          transform: translateY(-50%) scale(1, -1);
}

.catalog__block > figure p.size-chart {
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
  margin: 24px 0 0 33px;
}

@media (max-width: 576px) {
  .catalog__block > figure p.size-chart {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin: 0 auto 15px;
  }
}

.catalog__block > figure p.size-chart:hover {
  text-decoration: underline;
}

.catalog__block form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 558px;
}

@media (max-width: 1365px) {
  .catalog__block form {
    max-width: 498px;
  }
}

@media (max-width: 979px) {
  .catalog__block form {
    max-width: 558px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .catalog__block form {
    max-width: 380px;
  }
}

@media (max-width: 576px) {
  .catalog__block form .form-group {
    width: 100%;
  }
}

.catalog__block form .form-group input {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding: 22px 15px 14px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 5px;
}

@media (max-width: 1365px) {
  .catalog__block form .form-group input {
    width: 240px;
  }
}

@media (max-width: 979px) {
  .catalog__block form .form-group input {
    width: 270px;
  }
}

@media (max-width: 576px) {
  .catalog__block form .form-group input {
    width: 100%;
    margin-bottom: 10px;
  }
}

.catalog__block form .form-group input::-webkit-input-placeholder {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #555;
  opacity: 1;
}

.catalog__block form .form-group input::-moz-placeholder {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #555;
  opacity: 1;
}

.catalog__block form .form-group input:-ms-input-placeholder {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #555;
  opacity: 1;
}

.catalog__block form .form-group input::-ms-input-placeholder {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #555;
  opacity: 1;
}

.catalog__block form .form-group input::placeholder {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #555;
  opacity: 1;
}

.catalog__block form .form-group.order {
  width: 100%;
  margin-top: 10px;
}

.catalog__block form .form-group.order button {
  width: 100%;
  border: none;
  padding: 20px 0 13px;
}

.catalog__block:before {
  content: "";
  display: block;
  position: absolute;
}

.catalog__block.blue:before {
  width: 169px;
  height: 182px;
  background: url("../img/catalog/decor/1.png") no-repeat center/cover;
  top: -174px;
  left: 474px;
  pointer-events: none;
}

@media (max-width: 1199px) {
  .catalog__block.blue:before {
    width: 113px;
    height: 120px;
  }
}

@media (max-width: 979px) {
  .catalog__block.blue:before {
    top: -98px;
    left: calc(100% - 140px);
  }
}

.catalog__block.white {
  margin: 160px auto;
}

@media (max-width: 1199px) {
  .catalog__block.white {
    margin: 100px auto;
  }
}

@media (max-width: 979px) {
  .catalog__block.white {
    margin: 70px auto;
  }
}

.catalog__block.white:before {
  width: 124px;
  height: 150px;
  background: url("../img/catalog/decor/2.png") no-repeat center/cover;
  top: 76px;
  left: -164px;
}

@media (max-width: 1199px) {
  .catalog__block.white:before {
    width: 76px;
    height: 90px;
    top: -84px;
    left: 300px;
  }
}

@media (max-width: 979px) {
  .catalog__block.white:before {
    top: -54px;
    left: calc(100% - 96px);
  }
}

.catalog__block.purple:before {
  width: 106px;
  height: 141px;
  background: url("../img/catalog/decor/3.png") no-repeat center/cover;
  top: -140px;
  right: 10px;
}

@media (max-width: 1199px) {
  .catalog__block.purple:before {
    width: 58px;
    height: 76px;
  }
}

@media (max-width: 979px) {
  .catalog__block.purple:before {
    top: 14px;
    right: 24px;
  }
}

@media (max-width: 576px) {
  .catalog__block.purple:before {
    top: -72px;
  }
}

/*
    photo style
 */
.photo__content-left {
  width: 40%;
  max-width: 744px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1899px) {
  .photo__content-left {
    width: 39%;
  }
}

@media (max-width: 767px) {
  .photo__content-left {
    width: 100%;
    max-width: 100%;
  }
}

.photo__content-left a:first-child {
  width: 100%;
  margin-bottom: 10px;
}

.photo__content-left a:nth-child(2) {
  width: 52%;
  max-width: 384px;
}

.photo__content-left a:nth-child(3) {
  width: 47%;
  max-width: 349px;
}

.photo__content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(61% - 11px);
  max-width: 1165px;
}

@media (max-width: 767px) {
  .photo__content-right {
    width: 100%;
    margin-top: 10px;
  }
}

.photo__content-right figure:nth-child(1) {
  width: 43%;
  max-width: 497px;
}

.photo__content-right figure:nth-child(1) a:nth-child(1) {
  margin-bottom: 11px;
}

@media (max-width: 1899px) {
  .photo__content-right figure:nth-child(1) a:nth-child(1) {
    margin-bottom: 16px;
  }
}

.photo__content-right figure:nth-child(2) {
  width: calc(57%  - 12px);
  max-width: 657px;
}

.photo__content-right figure:nth-child(2) a:nth-child(2) {
  margin: 13px 0;
}

@media (max-width: 1899px) {
  .photo__content-right figure:nth-child(2) a:nth-child(2) {
    margin: 24px 0;
  }
}

@media (max-width: 1365px) {
  .photo__content-right figure:nth-child(2) a:nth-child(2) {
    margin: 21px 0;
  }
}

/*
    description style
 */
.description {
  padding: 122px 0 204px;
  position: relative;
}

@media (max-width: 979px) {
  .description {
    padding: 44px 0 0;
  }
}

.description__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 979px) {
  .description__content {
    display: block;
  }
}

.description__content-text {
  width: 50%;
  position: relative;
}

@media (max-width: 979px) {
  .description__content-text {
    width: 100%;
  }
}

.description__content-text p {
  color: #555;
}

.description__content-text p:first-child {
  margin-bottom: 20px;
}

.description__content-text:before {
  content: "";
  display: block;
  width: 80px;
  height: 72px;
  background: url("../img/description/decor/1.png") no-repeat center/cover;
  position: absolute;
  top: -140px;
  left: 97%;
  pointer-events: none;
}

@media (max-width: 979px) {
  .description__content-text:before {
    width: 68px;
    height: 62px;
    top: -73px;
    left: 43px;
  }
}

.description__content-img {
  width: 47%;
  position: relative;
  margin-top: 12px;
}

@media (max-width: 979px) {
  .description__content-img {
    width: 100%;
    max-width: 564px;
    margin: 35px auto 0;
  }
}

@media (max-width: 576px) {
  .description__content-img {
    margin-top: 55px;
  }
}

.description__content-img img {
  width: 100%;
  position: relative;
  z-index: 9;
}

.description__content-img:before, .description__content-img:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.description__content-img:before {
  width: 141px;
  height: 140px;
  background: url("../img/description/decor/3.png") no-repeat center/cover;
  bottom: -86px;
  left: -51px;
}

@media (max-width: 979px) {
  .description__content-img:before {
    width: 83px;
    height: 83px;
    bottom: -33px;
    left: -20px;
    z-index: 9;
  }
}

.description__content-img:after {
  width: 403px;
  height: 420px;
  background: url("../img/description/decor/2.png") no-repeat center/cover;
  top: -107px;
  right: -173px;
}

@media (max-width: 979px) {
  .description__content-img:after {
    width: 199px;
    height: 208px;
    top: -56px;
    right: -90px;
  }
}

.description__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: 68px;
}

@media (max-width: 979px) {
  .description__block {
    margin-top: 52px;
  }
}

.description__block h3 {
  margin-left: 79px;
  max-width: 537px;
}

@media (max-width: 1199px) {
  .description__block h3 {
    margin-left: 0;
  }
}

.description__block a.order {
  margin: 57px 0 0 187px;
}

@media (max-width: 1199px) {
  .description__block a.order {
    margin-left: 0;
  }
}

@media (max-width: 979px) {
  .description__block a.order {
    margin: 19px auto 6px;
  }
}

.description__block-img {
  position: relative;
  position: absolute;
  bottom: -191px;
  right: -360px;
}

@media (max-width: 1365px) {
  .description__block-img {
    right: -160px;
  }
}

@media (max-width: 1199px) {
  .description__block-img {
    width: 550px;
    right: 0;
  }
}

@media (max-width: 979px) {
  .description__block-img {
    position: relative;
    top: 0;
    right: -15px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .description__block-img {
    width: 84%;
    min-width: 245px;
  }
}

.description__block-img img {
  width: 100%;
  position: relative;
  z-index: 11;
}

.description__block-img:before, .description__block-img:after {
  content: "";
  display: block;
  position: absolute;
}

.description__block-img:before {
  width: 961px;
  height: 2px;
  background: #190f46;
  bottom: 0;
  right: 83px;
}

@media (max-width: 1199px) {
  .description__block-img:before {
    width: 118%;
    right: 10%;
  }
}

.description__block-img:after {
  width: 64px;
  height: 88px;
  background: url("../img/description/decor/5.png") no-repeat center/cover;
  top: 206px;
  left: 241px;
  z-index: 12;
}

@media (max-width: 979px) {
  .description__block-img:after {
    width: 64px;
    height: 76px;
    background-size: contain;
    top: 20px;
    left: -50px;
  }
}

.description__block:before {
  content: "";
  display: block;
  width: 147px;
  height: 119px;
  background: url("../img/description/decor/4.png") no-repeat center/cover;
  position: absolute;
  top: -55px;
  right: calc(100% - 45px);
}

@media (max-width: 1199px) {
  .description__block:before {
    top: 5px;
    right: 0;
  }
}

@media (max-width: 979px) {
  .description__block:before {
    width: 82px;
    height: 66px;
    top: -73px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .description__block:before {
    z-index: 15;
  }
}

.description:after {
  content: "";
  display: block;
  width: 1920px;
  height: 576px;
  background: url("../img/description/bg.png") no-repeat center/cover;
  position: absolute;
  bottom: -248px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

@media (max-width: 979px) {
  .description:after {
    width: 1000px;
    height: 300px;
    bottom: -128px;
  }
}

/*
    information style
 */
.information {
  padding: 79px 0 98px;
}

@media (max-width: 979px) {
  .information {
    padding: 86px 0 41px;
  }
}

.information .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .information .container {
    display: block;
  }
}

.information .review {
  width: 600px;
  position: relative;
}

@media (max-width: 1199px) {
  .information .review {
    width: 500px;
  }
}

@media (max-width: 979px) {
  .information .review {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .information .review {
    width: 100%;
  }
}

.information .review__slider {
  margin-top: 82px;
}

@media (max-width: 979px) {
  .information .review__slider {
    margin-top: 51px;
  }
}

.information .review__slider-item figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 76px 0 24px;
}

@media (max-width: 979px) {
  .information .review__slider-item figure {
    padding: 0;
  }
}

.information .review__slider-item figure p {
  color: #555;
  line-height: 20px;
}

.information .review__slider-item figure h6 {
  margin-top: 13px;
}

.information .review__slider-item figure:first-child {
  margin-bottom: 73px;
}

@media (max-width: 767px) {
  .information .review__slider-item figure:first-child {
    margin-bottom: 46px;
  }
}

.information .review__nav {
  width: 145px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 63px 76px 0 auto;
}

@media (max-width: 767px) {
  .information .review__nav {
    margin: 29px 0 0 auto;
  }
}

.information .review__nav .prev-arrow, .information .review__nav .next-arrow {
  width: 15px;
  height: 27px;
  background: url("../img/review-arrow.png") no-repeat center/cover;
  cursor: pointer;
}

.information .review__nav .next-arrow {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.information .review:before, .information .review:after {
  content: "";
  display: block;
  position: absolute;
}

.information .review:before {
  width: 115px;
  height: 104px;
  background: url("../img/information/decor/2.png") no-repeat center/cover;
  bottom: -79px;
  left: -91px;
}

@media (max-width: 1199px) {
  .information .review:before {
    width: 69px;
    height: 63px;
    left: 24px;
  }
}

@media (max-width: 979px) {
  .information .review:before {
    bottom: 50px;
  }
}

@media (max-width: 767px) {
  .information .review:before {
    bottom: -29px;
  }
}

.information .review:after {
  width: 91px;
  height: 79px;
  background: url("../img/information/decor/1.png") no-repeat center/cover;
  top: -118px;
  right: 47px;
  z-index: 15;
}

@media (max-width: 979px) {
  .information .review:after {
    width: 36px;
    height: 52px;
    background: url("../img/information/decor/3.png") no-repeat center/cover;
    top: -39px;
    right: 0;
  }
}

@media (max-width: 576px) {
  .information .review:after {
    top: -49px;
  }
}

.information .delivery {
  width: 504px;
  position: relative;
}

@media (max-width: 1199px) {
  .information .delivery {
    width: 434px;
  }
}

@media (max-width: 979px) {
  .information .delivery {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .information .delivery {
    width: 100%;
    max-width: 504px;
    margin: 53px auto 0;
  }
}

.information .delivery__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information .delivery__content figure {
  width: 206px;
}

@media (max-width: 576px) {
  .information .delivery__content figure {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.information .delivery__content figure span {
  display: block;
  width: 80px;
  height: 80px;
  background: #c73e55;
  border-radius: 50%;
  margin-bottom: 13px;
  position: relative;
}

.information .delivery__content figure span:after {
  display: block;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 55px;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.information .delivery__content figure p {
  color: #555;
}

@media (max-width: 576px) {
  .information .delivery__content figure p {
    width: calc(100% - 98px);
  }
}

.information .delivery__content figure:first-child {
  margin-bottom: 100px;
}

@media (max-width: 979px) {
  .information .delivery__content figure:first-child {
    margin-bottom: 30px;
  }
}

.information .delivery__content figure:first-child span:after {
  content: "1";
}

.information .delivery__content figure:nth-child(2) {
  margin-bottom: 100px;
}

@media (max-width: 979px) {
  .information .delivery__content figure:nth-child(2) {
    margin-bottom: 30px;
  }
}

.information .delivery__content figure:nth-child(2) span:after {
  content: "2";
}

@media (max-width: 979px) {
  .information .delivery__content figure:nth-child(3) {
    margin-bottom: 30px;
  }
}

.information .delivery__content figure:nth-child(3) span:after {
  content: "3";
}

.information .delivery__content figure:nth-child(4) span:after {
  content: "4";
}

.information .delivery:after {
  content: "";
  display: block;
  width: 69px;
  height: 99px;
  background: url("../img/information/decor/3.png") no-repeat center/cover;
  position: absolute;
  bottom: -50px;
  right: 53px;
}

@media (max-width: 979px) {
  .information .delivery:after {
    display: none;
  }
}

/*
    footer style
 */
.footer {
  background: url("../img/footer/bg.jpg") no-repeat center/cover;
  padding: 132px 0 18px;
}

@media (max-width: 979px) {
  .footer {
    padding: 45px 0 10px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 0;
  }
}

.footer__content {
  position: relative;
}

.footer__content h2 {
  max-width: 555px;
}

@media (max-width: 767px) {
  .footer__content h2 {
    text-align: center;
    max-width: 100%;
  }
}

.footer__content span {
  display: block;
  max-width: 555px;
  margin: 21px 0 22px;
}

@media (max-width: 767px) {
  .footer__content span {
    max-width: 100%;
    text-align: center;
  }
}

.footer__content span.sale {
  margin: 0;
  text-align: left;
}

@media (max-width: 767px) {
  .footer__content span.sale {
    text-align: center;
  }
}

.footer__content > h6 {
  color: #fff500;
  margin: -4px auto 31px;
}

@media (max-width: 767px) {
  .footer__content > h6 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__content .to-order {
    margin: 0 auto;
  }
}

.footer__content .to-order h6 {
  color: #fff;
}

.footer__content-img {
  position: absolute;
  bottom: -18px;
  right: 26px;
}

@media (max-width: 1199px) {
  .footer__content-img {
    width: 400px;
    right: 0;
  }
}

@media (max-width: 979px) {
  .footer__content-img {
    width: 250px;
    bottom: -10px;
  }
}

@media (max-width: 767px) {
  .footer__content-img {
    position: relative;
    top: 0;
    left: 0;
    width: 94%;
    min-width: 275px;
    max-width: 408px;
    margin: 3px auto 0;
  }
}

.footer__content-img img {
  width: 100%;
}

.footer__content p {
  color: #fff;
  margin-top: 55px;
}

@media (max-width: 767px) {
  .footer__content p {
    text-align: center;
    margin-top: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .footer__content p {
    font-size: 16px;
    width: 100%;
  }
}

.footer__content p a {
  display: inline-block;
  color: inherit;
}

/*
    size style
 */
.size {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 599px;
  background: #fff;
  padding: 48px 29px 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg);
          transform: translate(-50%, -50%) rotateX(-90deg);
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  z-index: -5;
}

@media (max-width: 767px) {
  .size {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .size {
    overflow: scroll;
  }
}

.size__block {
  position: relative;
}

@media (max-width: 576px) {
  .size__block {
    width: 539px;
  }
}

.size__block span.close {
  position: absolute;
  top: -36px;
  right: -18px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .size__block span.close {
    left: -18px;
  }
}

.size__block span.close img {
  margin: 0;
}

.size__block figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px auto;
}

@media (max-width: 767px) {
  .size__block figure {
    margin: 18px auto;
  }
}

@media (max-width: 576px) {
  .size__block figure {
    margin: 10px auto;
  }
}

.size__block figure p {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #190f46;
}

.size__block figure p.first {
  width: 56px;
}

.size__block figure p.second {
  width: 101px;
}

.size__block figure p.third {
  width: 101px;
}

.size__block figure p.fourth {
  width: 104px;
}

.size__block figure:first-child {
  padding: 13px 0 11px;
  position: relative;
  margin: 0;
}

.size__block figure:first-child p {
  font-size: 16px;
  line-height: 16px;
  color: #555;
}

.size__block figure:first-child:before, .size__block figure:first-child:after {
  content: "";
  display: block;
  width: calc(100% + 28px);
  height: 2px;
  background: #aaa;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.size__block figure:first-child:before {
  top: 0;
}

.size__block figure:first-child:after {
  bottom: 0;
}

.size__block figure.xxl {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
