/*
    photo style
 */

.photo {

  &__content {

    &-left {
      width: 38%;
      max-width: 744px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {

        &:first-child {
          width: 100%;
          margin-bottom: 40px;

          @include mq(lg) {
            margin-bottom: 22px;
          }
        }

        &:nth-child(2) {
          width: 52%;
          max-width: 384px;
        }

        &:nth-child(3) {
          width: 47%;
          max-width: 349px;
        }
      }
    }

    &-right {
      width: 61%;
      max-width: 1166px;
      display: flex;
      justify-content: space-between;

      figure {

        &:first-child {
          width: 43%;
          max-width: 497px;

          @include mq(xxl) {
            width: 42%;
          }

          a:first-child {
            margin-bottom: 5px;

            @include mq(xxl) {
              margin-bottom: 32px;
            }

            @include mq(lg) {
              margin-bottom: 18px;
            }
          }
        }

        &:last-child {
          width: 57%;
          max-width: 657px;

          @include mq(xxl) {

          }

          a:nth-child(2) {
            margin: 10px 0;

            @include mq(lg) {
              margin: 5px 0;
            }
          }
        }
      }
    }

  }
}