/*
    catalog style
 */

.catalog {
  padding: 107px 0 67px;

  @include mq(md) {
    padding: 44px 0 45px;
  }

  &__block {
    position: relative;

    h3 {

      @include mq(md) {
        text-align: center;
      }
    }

    >ul {
      margin: 20px 0 30px;

      @include mq(md) {
        max-width: 430px;
        margin: 10px auto 22px;
      }

      li {
        display: flex;

        p {
          font-size: 18px;
          line-height: 30px;

          &:nth-child(1) {
            width: 230px;
          }

          &:nth-child(2) {

          }
        }
      }
    }

    .price {

      @include mq(md) {
        text-align: center;
      }

      span {
        font-family: $hb, sans-serif;

        &.old-price {
          font-size: 24px;
          color: #aaa;
          display: inline-block;
          position: relative;

          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #aaa;
            position: absolute;
            top: 55%;
            left: 0;
            transform: translateY(-50%);
          }
        }

        &.new-price {
          font-size: 48px;
          color: #c73e55;
        }
      }
    }

    &-img {
      max-width: 590px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      position: absolute;
      top: 0;
      right: 0;

      @include mq(lg) {
        max-width: 500px;
      }

      @include mq(md) {
        position: relative;
        top: 0;
        left: 0;
        margin: 42px auto 26px;
      }

      a {
        position: relative;

        img {
          width: 100%;
          transition: all 0.65s ease-in-out;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          opacity: 0;
        }

        &:after {
          width: 80px;
          height: 80px;
          background: url("../img/zoom.png") no-repeat center/cover;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.85s ease-in-out;
        }

        &:hover {

          img {
            opacity: 0.3;
          }

          &:after {
            opacity: 1;
          }
        }
      }

      >a {
        width: 68%;
        max-width: 399px;

        @include mq(lg) {
          width: 67%;
        }

        img {
          width: 100%;
        }
      }

      figure {
        width: 32%;
        max-width: 187px;

        @include mq(lg) {
          width: 31%;
        }

        a:nth-child(1) {
          margin-bottom: 4px;

          @include mq(lg) {
            margin-bottom: 10px;
          }
        }
      }

      h6 {
        color: #c73e55;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin-top: 43px;
      }

      &:before {
        content: "";
        display: block;
        width: 630px;
        height: 606px;
        background: url("../img/catalog/vector.png") no-repeat center/cover;
        position: absolute;
        top: -40px;
        left: -20px;

        @include mq(lg) {
          width: 533px;
          height: 512px;
        }
      }
    }

    >figure {
      display: flex;
      align-items: flex-start;
      margin: 34px 0 20px;

      @include mq(md) {
        max-width: 558px;
        margin: 0 auto 20px;
      }

      .select-box {
        width: 270px;

        @include mq(xl) {
          width: 240px;
        }

        @include mq(md) {
          width: 270px;
        }

        .jq-selectbox {
          width: 100%;

          &__select {
            font-size: 16px;
            color: #555;
            line-height: 1;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 23px 15px 14px;
            border: 1px solid #aaa;
            border-radius: 5px;
            background: transparent;
            box-shadow: none;
            text-shadow: none;
            position: relative;

            &-text {
              width: 100% !important;
            }

            &:after {
              content: "";
              display: block;
              width: 16px;
              height: 9px;
              background: url("../img/arrow.png") no-repeat center/cover;
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%);
              transition: all 0.5s ease-in-out;
            }
          }

          &__dropdown {
            box-sizing: border-box;
            border: 1px solid #aaa;
            border-radius: 5px;
            background: #fff;
            overflow: hidden;
            box-shadow: none;
            text-shadow: none;
            font-family: $hr, sans-serif;
            font-size: 16px;
            line-height: 1;
            color: #555;
            top: 57px !important;

            ul {

              li {
                color: inherit;
              }
            }
          }

          &__trigger {
            display: none;
          }

          &.opened {

            .jq-selectbox__select {

              &:after {
                transform: translateY(-50%) scale(1, -1);
              }
            }
          }
        }

      }

      p.size-chart {
        font-size: 16px;
        color: #aaa;
        cursor: pointer;
        transition: all 0.55s ease-in-out;
        margin: 24px 0 0 33px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 558px;

      @include mq(xl) {
        max-width: 498px;
      }

      @include mq(md) {
        max-width: 558px;
        margin: 0 auto;
      }

      .form-group {

        input {
          font-family: $hr, sans-serif;
          font-size: 16px;
          line-height: 16px;
          color: #555;
          box-sizing: border-box;
          width: 270px;
          padding: 22px 15px 14px;
          border: 1px solid #aaa;
          background: #fff;
          border-radius: 5px;

          @include mq(xl) {
            width: 240px;
          }

          @include mq(md) {
            width: 270px;
          }

          &::placeholder {
            font-family: $hr, sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #555;
            opacity: 1;
          }
        }

        &.order {
          width: 100%;
          margin-top: 10px;

          button {
            width: 100%;
            border: none;
            padding: 20px 0 13px;
          }
        }
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
    }

    &.blue {

      &:before {
        width: 169px;
        height: 182px;
        background: url("../img/catalog/decor/1.png") no-repeat center/cover;
        top: -174px;
        left: 474px;
        pointer-events: none;

        @include mq(lg) {
          width: 113px;
          height: 120px;
        }

        @include mq(md) {
          top: -92px;
          left: calc(100% - 140px);
        }
      }
    }

    &.white {
      margin: 160px auto;

      @include mq(lg) {
        margin: 100px auto;
      }

      @include mq(md) {
        margin: 70px auto;
      }

      &:before {
        width: 124px;
        height: 150px;
        background: url("../img/catalog/decor/2.png") no-repeat center/cover;
        top: 76px;
        left: -164px;

        @include mq(lg) {
          width: 76px;
          height: 90px;
          top: -54px;
          left: 300px;
        }

        @include mq(md) {
          left: calc(100% - 96px);
        }
      }
    }

    &.purple {

      &:before {
        width: 106px;
        height: 141px;
        background: url("../img/catalog/decor/3.png") no-repeat center/cover;
        top: -140px;
        right: 10px;

        @include mq(lg) {
          width: 58px;
          height: 76px;
        }

        @include mq(md) {
          top: 14px;
          right: 24px;
        }
      }
    }
  }
}