/*
    photo style
 */

.photo {

  &__content {

    &-left {
      width: 40%;
      max-width: 744px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq(xxl) {
        width: 39%;
      }

      @include mq(s) {
        width: 100%;
        max-width: 100%;
      }

      a {

        &:first-child {
          width: 100%;
          margin-bottom: 10px;
        }

        &:nth-child(2) {
          width: 52%;
          max-width: 384px;
        }

        &:nth-child(3) {
          width: 47%;
          max-width: 349px;
        }
      }
    }

    &-right {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: calc(61% - 11px);
      max-width: 1165px;

      @include mq(s) {
        width: 100%;
        margin-top: 10px;
      }

      figure {

        &:nth-child(1) {
          width: 43%;
          max-width: 497px;

          @include mq(xs) {
            width: 42%;
            min-width: 136px;
          }

          a {

            &:nth-child(1) {
              margin-bottom: 11px;

              @include mq(xxl) {
                margin-bottom: 16px;
              }

              @include mq(xs) {
                margin-bottom: 6px;
              }
            }
          }
        }

        &:nth-child(2) {
          width: calc(57%  - 12px);
          max-width: 657px;

          @include mq(xs) {
            width: 56%;
            min-width: 181px;
          }

          a {

            &:nth-child(2) {
              margin: 13px 0;

              @include mq(xxl) {
                margin: 24px 0;
              }

              @include mq(xl) {
                margin: 21px 0;
              }

              @include mq(xs) {
                margin: 4px 0;
              }
            }
          }
        }
      }
    }
  }
}