/*
    gallery style
 */

.gallery {

  &__content {

    &-left {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 61%;
      max-width: 1165px;

      @include mq(s) {
        width: 100%;
      }

      figure {

        &:nth-child(1) {
          width: 57%;
          max-width: 657px;

          @include mq(xxl) {
            width: 56%;
          }

          a {

            &:nth-child(2) {
              margin: 13px 0;

              @include mq(xxl) {
                margin: 10px 0;
              }

              @include mq(xl) {
                margin: 7px 0;
              }
            }
          }
        }

        &:nth-child(2) {
          width: 43%;
          max-width: 497px;

          @include mq(xxl) {
            width: 42%;
          }

          a {

            &:nth-child(1) {
              margin-bottom: 11px;

              @include mq(xxl) {
                margin-bottom: 16px;
              }

              @include mq(xl) {
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }

    &-right {
      width: calc(39% - 11px);
      max-width: 744px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq(s) {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
      }

      a {

        &:first-child, &:last-child {
          width: 100%;
        }

        &:nth-child(2) {
          width: 52%;
          max-width: 384px;
        }

        &:nth-child(3) {
          width: 47%;
          max-width: 349px;
        }

        &:nth-child(2), &:nth-child(3) {
          margin: 10px 0;

          @include mq(lg) {
            margin: 11.5px 0;
          }
        }
      }
    }

    &:before {
      content: "";
      display: block;
      width: 122px;
      height: 103px;
      background: url("../img/gallery/1.png") no-repeat center/cover;
      position: absolute;
      top: -77px;
      left: 10%;
      z-index: 11;
      pointer-events: none;

      @include mq(lg) {
        width: 62px;
        height: 62px;
        top: -38px;
      }
    }
  }
}